# -------------------------------------
# Force Java as primary language
# -------------------------------------
src/main/java/** linguist-language=Java
*.java linguist-language=Java

# -------------------------------------
# Thymeleaf Templates (HTML)
# -------------------------------------
src/main/resources/templates/** linguist-language=HTML
*.html linguist-language=HTML

# -------------------------------------
# CSS Files
# -------------------------------------
src/main/resources/static/css/** linguist-language=CSS
*.css linguist-language=CSS

# -------------------------------------
# JavaScript Files
# -------------------------------------
src/main/resources/static/js/** linguist-language=JavaScript
*.js linguist-language=JavaScript

# -------------------------------------
# SQL Files (Database Scripts)
# -------------------------------------
src/main/resources/**.sql linguist-language=SQL
*.sql linguist-language=SQL

# -------------------------------------
# Properties Files
# -------------------------------------
*.properties linguist-language=Properties

# -------------------------------------
# Images & assets (should NOT affect language stats)
# -------------------------------------
/images/** linguist-vendored
/assets/** linguist-vendored
/src/main/resources/static/images/** linguist-vendored
*.png linguist-vendored
*.jpg linguist-vendored
*.jpeg linguist-vendored
*.svg linguist-vendored

# -------------------------------------
# Ignore build/output folders from analysis
# -------------------------------------
target/** linguist-vendored
